.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh; 
    margin-bottom: 15px; 
    background-color: #f0f0f0;   
  }
  
  .texto {
    font-family: 'sans-serif', Arial, Helvetica;
    font-size: 18px;
    color: #333;
    text-align: center;
    padding: 20px; 
    border-radius: 8px; 
    max-width: 1000px; 
  }


.center-image {
  display: flex;
margin-right: 150px;
  height: 50vh; 
}

.center-image img {
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}
